<section class="my-plan">
    <div class="main-wrapper">

    <header>
        <img src="../../../assets/img/left-arrow.png" alt="Voltar">
        <h1>Meu plano</h1>
    </header>

    <div class="aside-plan">
        <aside class="my-plan-left">
            <div class="my-plan-picture">
                <img src="../../../assets/img/my-plan.png" alt="Meu Plano">
                <h2>Meu plano</h2>
                <p>O que você quer fazer?</p>
            </div>
            <app-side-menu></app-side-menu>
        </aside>

        <aside class="my-plan-right">
            <app-contribution></app-contribution>
        </aside>
    </div>

    </div>
</section>